.App {
  text-align: center;
}

header {
  width: 100%;
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  position: fixed;
}

.mainLogo {
  height: 10rem;
  border-radius: 50%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

nav a.currentLink {
  color: rgb(200, 16, 16);
}

nav>a {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(30, 30, 30);
  text-decoration: none;
  margin-top: 3.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
}

.homeBG1 {
  width: 100vw;
  height: 25vh;
  background-image: url('./img/woodTexture.png');
  background-size: cover;
}